table{

    width: 95%;
    margin-left: 25px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
}

.nuevo{
    margin-left: 25px;
}
.boton{

    margin-left: 10px;

}